*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0;
}
img{
    width: 100%;
}
nav{
    background-color: rgb(100, 13, 13);
    width: 100%;
    display: inline-block;


}
nav li{
    width: 12%;
    display: inline-block;
    text-align: center;

}
h1{
    text-align: center;
}
.menu a{
    color: white;
    text-align: center;
    padding: auto;
    text-decoration: none;
    
}
.menu a:hover{
    background-color: rgb(143, 32, 110);
}
.menu .icon{
    display: none;
    font-size: 30px;
    padding: 14px 16px;
    cursor: pointer;
    color: white;
}
.menu-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

}
#menu-toggle{
    display: none;
}
.menu-items li{
    flex: 1;
}
.activado{
    color: blue;
}
.menu{
    background-color: burlywood;
}
header{
    background-color: aqua;
    color: grey;
    text-align: center;
    padding: 1em;
}
.col2{
    width: 95%;
    text-align: center;
    padding: auto;
    margin: 2em;
    
}
.menu-items {
    flex-direction: column; /* Orgnaiza los elementos de la laista en columna */
    display: fixed; /* Oculta los elementos del menu por defecto */ /*Aca este donde se oculta el menu-icon y el menu-items */
}

.menu-icon {
    display: block; /*Muestra el icono del menu, arriba esta oculto */
}

/* Estilo para mostrar el menu cuando el checbox esta marcado */
#menu-toggle:checked + .menu-icon + .menu-items {
    display: flex; /*Muestra los elementos del menu como un contenedor flexible */
}
.fotos{
    width: 30%;
    text-align: center;
    display: inline-block;
    padding: 0.5em;

}
.imagen{
    width: 50%;
}

.col{
    width: 46%;
    display: inline-block;
    
}
.final{
    width: 70%;
    text-align: center;
 }
 .col .imagen{
    width: 99%;
 }
@media screen and (max-width: 600px) { 
    .menu-items{
        flex-direction: column;
        display: none;
        }
        .menu-icon{
            display: flex;
        }
        #menu-toggle:checked + .menu-icon + .menu-items{
            display: flex;
        }
        .col{
            width: 100%;
            display: block;
        }
        .final{
            width: 100%;
            display: block;
        }

    }
 @media screen and (max-width:999px )and(min-width:600px) {
    .menu-items{
        flex-direction: column;
        display: none;
        }
        .menu-icon{
            display: flex;
        }
        #menu-toggle:checked + .menu-icon + .menu-items{
            display: flex;
        }
        .col{
            width: 50%;
            display: inline-block;
        }
        .final{
            width: 100%;
            display: block;
        }
}
 